{{#if user}}
  {{!-- <img> --}}
<h2>{{user.fullName}}'s Profile</h2>
<form action="/user/profile/edit" method="POST">
  <label> Full Name
      <input type="text" name="fullName" value={{user.fullName}} />
    </label>
    <label> Email
      <input type="text" name="email" value={{user.email}} />
    </label>

    <label>change email
      <input type="text">
    </label>
    <label> Password
      <input type="password" name="password" value={{user.password}} />
    </label>
<br>
<form action="/class/all-classes" method="POST">
  <button>Confirm changes</button>
</form>
<form action="/user/profile/delete" method="POST">
  <button>Delete account</button>
</form>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}
