<div class="singclasspage">

<div class="singtitlevideo">
    <h2 class="singclasstitle">{{foundClass.title}}</h2>

    <iframe width="560" height="315" src="{{foundClass.videoURL}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>

<h3>Learn by sharing</h3>
<br>

<div class="commentframe">
        
    <div class = "name">{{user.fullName}}</div>
        <div class = "comment">
            <form id="comment" action="/comment/new/{{foundClass._id}}" method="post">
                <input type="text" name="comment" placeholder="comment">
                </form>
        </div>
        
    <div class = "publish">
        <button type="submit">Publish Comment</button>
    </div>

</div>

{{#if comments}}

    {{#each comments}}

        {{#if canEdit}}

        <!--  NEW code to edit by the comment author -->

            {{!-- <a href="/edit/comment/{{_id}}">Edit Comment</a> --}}

            <form action="/comment/edit/{{_id}}/{{classId}}" method="post">
            {{!-- <label for="">
                Comment --}}
                <input type="text" name="comment" value="{{comment}}">
            {{!-- </label> --}}
                <button type="submit">Edit comment</button>
            </form>

            <form action="/comment/delete/{{_id}}/{{classId}}" method="post">
                <button type="submit">Delete Comment</button>
            </form>

        {{else}}

            <p>{{comment}}</p>
            <h6>{{author.fullName}}</h6>

        {{/if}}

    {{/each}}

{{/if}}

</div>