<h2>{{foundClass.title}}</h2>

<video>
    <source src = {{foundClass.videoURL}} type="video">
</video>

<h3>Learn by sharing</h3>
<form id="comment" action="/comment/new/{{foundClass._id}}" method="post">
    <input type="text" name="comment" id="comment">
    <button type="submit">Publish Comment</button>
</form>


{{#if comments}}

    {{#each comments}}

        {{#if canEdit}}

        <!--  NEW code to edit by the comment author -->

            {{!-- <a href="/edit/comment/{{_id}}">Edit Comment</a> --}}

            <form action="/comment/edit/{{_id}}/{{classId}}" method="post">
            {{!-- <label for="">
                Comment --}}
                <input type="text" name="comment" value="{{comment}}">
            {{!-- </label> --}}
                <button type="submit">Edit comment</button>
            </form>

            <form action="/comment/delete/{{_id}}/{{classId}}" method="post">
                <button type="submit">Delete Comment</button>
            </form>

        {{else}}

            <p>{{comment}}</p>
            <h6>{{author.fullName}}</h6>

        {{/if}}

    {{/each}}

{{/if}}

{{#if comments}}
<a href="/edit/comment"></a>

{{/comments}}

{{!-- edit button will appear only if they are a comment author --}}

<!--
    <div>

        <h3>{{room.name}}</h3>
        <img src={{room.imageUrl}} alt="room">
        <p>{{room.description}}</p>
        <p>added by: {{room.owner.fullName}}</p>

        {{#if canEdit}}

            <a href="/rooms/edit/{{room._id}}">Edit Room</a>
            <a href="/rooms/delete/{{room._id}}">Delete Room</a>

        {{/if}}

        <a href="/rooms/all">Back to All Rooms</a>

        <hr>

        {{#unless canEdit}}

            <h4>Leave a review</h4>
            <form id="review" action="/reviews/new/{{room._id}}" method="post">
                <label for="review">Review:</label>
                <input type="text" name="comment" id="review">
                <button type="submit">Submit Review</button>
            </form>

        {{/unless}}


        {{#if reviews}}

            {{#each reviews}}

                <p>{{comment}}</p>
                <h6>- {{user.fullName}}</h6>

            {{/each}}

            {{else}}

            <p>No reviews yet</p>

        {{/if}}
    </div>
*/
-->
